username: mp
unixgroup: users

mount_nas_drive: /mnt/NAS
uuid_nas_drive: 0bdf23c9-940f-42a8-a763-288bc77f8dd7

mount_backup_drive: /mnt/BACKUP
uuid_backup_drive: cbee23ff-7a60-4aa2-911c-d4ab0890f99e


extra_packages:
  - autoconf
  - automake
  - base
  - bison
  - btrbk
  - debugedit
  - docker
  - docker-compose
  - flex
  - fwupd
  - gcc
  - git-crypt
  - grub
  - hdparm
  - htop
  - intel-ucode
  - intel-gpu-tools
  - iotop
  - libva-utils
  - make
  - mutt
  - man-db
  - micro
  - nano
  - neofetch
  - net-tools
  - pacman-contrib
  - patch
  - pkgconf
  - powertop
  - reflector
  - rsync
  - samba
  - smartmontools
  - texinfo
  - tmux
  - tree
  - unzip
  - wget
  - wol
  - zsh-completions
  - msmtp
  - msmtp-mta
  - s-nail


# SSH vars
security_ssh_config_path: /etc/ssh/sshd_config_ansible
security_sshd_name: sshd

security_ssh_allowed_users: ['{{ username }}']
security_ssh_allowed_groups: []
security_sudoers_passwordless: ['{{ username }}']
security_sudoers_passworded: []

security_ssh_port: 2968
security_ssh_password_authentication: "no"
security_ssh_permit_root_login: "no"
security_ssh_permit_empty_password: "no"
security_ssh_challenge_response_auth: "no"
security_ssh_x11_forwarding: "no"

security_sshd_state: started


# Docker vars
docker_compose_dir: "/home/{{ username }}/docker"
docker_data_dir: "/home/{{ username }}/dockerdata"

# expose some ports natively on the host for debugging instead of only routing through reverse proxy
# -> BE VERY CAREFUL when adding additional jinja if templates in docker-compose.yml files because whitespace is messed up!
# -> Always test deployed version with true and false if you add a conditional!
debug_ports_open: false

docker_services:
  # - bookstack
  - dokuwiki
  - vaultwarden
  - nextcloud
  - filebrowser
  - homer
  - gitea
  - traefik
  - prometheus_grafana
  - node_exporter
  # - jellyfin


# Nextcloud vars
nextcloud_version: 27-apache


# Maintenance vars
btrbk_config_dir: /etc/btrbk/btrbk.conf