

services:

  bookstack:
    image: lscr.io/linuxserver/bookstack
    container_name: bookstack
    hostname: bookstack
    restart: always
    environment:
      - PUID={{ username_id.stdout }}
      - PGID={{ unixgroup_id.stdout }}
      - DB_HOST=bookstack_db
      - DB_USER={{ bookstack_db_user }}
      - DB_PASS={{ bookstack_db_user_pw }}
      - DB_DATABASE=bookstackapp
      - APP_URL="https://{{ bookstack_domain }}"
    volumes:
      - "{{ docker_data_dir }}/bookstack/data:/config"
    depends_on:
      - bookstack_db

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bookstack.rule=Host(`{{ bookstack_domain }}`)"
      - "traefik.http.routers.bookstack.entrypoints=websecure"
      - "traefik.http.routers.bookstack.tls=true"
      - "traefik.http.routers.bookstack.tls.certresolver=letsencrypt"
      # we want basic auth for setup!
      - "traefik.http.middlewares.temp-auth.basicauth.users={{ homer_login }}"
      - "traefik.http.routers.bookstack.middlewares=temp-auth@docker"

    networks:
      - traefik-net


  bookstack_db:
    image: lscr.io/linuxserver/mariadb
    container_name: bookstack_db
    restart: always
    environment:
      - PUID={{ username_id.stdout }}
      - PGID={{ unixgroup_id.stdout }}
      - TZ=Europe/Berlin
      - MYSQL_ROOT_PASSWORD={{ bookstack_db_root_pw }}
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER={{ bookstack_db_user }}
      - MYSQL_PASSWORD={{ bookstack_db_user_pw }}
    volumes:
      - "{{ docker_data_dir }}/bookstack/db:/config"

    networks:
      - traefik-net
