version: "3"

services:
  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
    # user: "{{ username_id.stdout }}:{{ unixgroup_id.stdout }}"    # dynamically obtained UID/GID using ansible
    volumes:
      - "{{ docker_data_dir }}/filebrowser/filebrowser.db:/database/filebrowser.db"
      - "{{ docker_data_dir }}/filebrowser/settings.json:/config/settings.json"
      - "{{ mount_nas_drive }}:/srv:ro"
    environment:
      - PUID={{ username_id.stdout }}
      - PGID={{ unixgroup_id.stdout }}
    restart: always
    ports:
      - "6969:80"
    labels:
      - "traefik.enable=false"  # keep traefik off for now
      - "traefik.http.routers.filebrowser.rule=Host(`{{ filebrowser_domain }}`)"
      - "traefik.http.routers.filebrowser.entrypoints=websecure"
      - "traefik.http.routers.filebrowser.tls=true"
      - "traefik.http.routers.filebrowser.tls.certresolver=letsencrypt"
    networks:
      - traefik-net

networks:
    traefik-net:
        external: true
