version: '2'

services:

  nextcloud-db:
    image: mariadb:11
    container_name: nextcloud-db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW

    environment:
      - MYSQL_ROOT_PASSWORD={{ nextcloud_db_root_pw }}
      - MYSQL_PASSWORD={{ nextcloud_db_user_pw }}
      - MYSQL_USER={{ nextcloud_db_user }}
      - MYSQL_DATABASE=nextcloud
      - TZ=Europe/Berlin

    volumes:
      - "{{ docker_data_dir }}/nextcloud/db:/var/lib/mysql"

    networks:
      - traefik-net


  nextcloud:
    image: nextcloud:{{ nextcloud_version }}
    container_name: nextcloud
    hostname: nextcloud
    restart: always
    links:
      - nextcloud-db
    depends_on:
      - nextcloud-db

    environment:
      - MYSQL_PASSWORD={{ nextcloud_db_user_pw }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER={{ nextcloud_db_user }}
      - MYSQL_HOST=nextcloud-db

    tmpfs:
      - /tmp:exec

    volumes:
      - "{{ docker_data_dir }}/nextcloud/data:/var/www/html:z"
      - "{{ mount_nas_drive }}/Daten/Nextcloud:/var/www/html/data"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.rule=Host(`{{ nextcloud_domain }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=letsencrypt"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      # Redirect path for CalDAV/CardDAV:
      - "traefik.http.middlewares.nextcloud-dav.replacepathregex.regex=^/.well-known/ca(l|rd)dav"
      - "traefik.http.middlewares.nextcloud-dav.replacepathregex.replacement=/remote.php/dav/"
      # HSTS Header https://community.traefik.io/t/http-strict-transport-security/3676
      - "traefik.http.middlewares.nextcloud-header.headers.stsSeconds=15552000"
      - "traefik.http.middlewares.nextcloud-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.nextcloud-header.headers.stsPreload=true"
      - "traefik.http.middlewares.nextcloud-header.headers.forceSTSHeader=true"
      # apply middleware
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-dav@docker,nextcloud-header@docker"

    networks:
      - traefik-net


  cron:
    image: nextcloud:{{ nextcloud_version }}
    container_name: nextcloud-cron
    restart: always
    volumes:
      - "{{ docker_data_dir }}/nextcloud/data:/var/www/html:z"
      - "{{ mount_nas_drive }}/Daten/Nextcloud:/var/www/html/data"
    entrypoint: /cron.sh
    depends_on:
      - nextcloud-db
    networks:
      - traefik-net


  # https://github.com/pulsejet/go-vod
  go-vod:
    build: ./go-vod
    hostname: go-vod
    container_name: go-vod
    restart: always
    devices:
      - /dev/dri:/dev/dri
    tmpfs:
      - /tmp
    volumes:
      - "{{ docker_data_dir }}/nextcloud/data:/var/www/html:ro"
      - "{{ mount_nas_drive }}/Daten/Nextcloud:/var/www/html/data:ro"
    networks:
      - traefik-net


networks:
    traefik-net:
        external: true



