

services:
  traefik:
    image: traefik:latest

    container_name: traefik

    environment:
      - TZ=Europe/Berlin #for log times

    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      # metrics for grafana
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.buckets=0.1,0.3,1.2,5.0"
      - "--metrics.prometheus.addrouterslabels=true"
      - "--metrics.prometheus.addServicesLabels=true"
      - "--entryPoints.metrics.address=:8082"
      - "--metrics.prometheus.entryPoint=metrics"


      # open ports / entrypoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.nextcloud.address=:8081" # for legacy nextcloud

      # redirect all traffic to https
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"

      # certificates
      - "--certificatesresolvers.letsencrypt.acme.storage=acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      #- "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory" #Lets Encrypt TEST certificate

      # logging
      - "--log.filePath=/var/log/traefik.log"
      - "--accesslog=true"
      - "--accesslog.filepath=/var/log/traefik-access.log"
      - "--accesslog.fields.names.StartUTC=drop" #to use TZ timezone in logs
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"   # The Web UI (enabled by --api.insecure=true)
      - "8081:8081"   # for legacy nextcloud
      {% if debug_ports_open %}- "8082:8082"   # for metrics, only for debugging{% endif %}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ docker_data_dir }}/traefik/acme.json:/acme.json"
      - "{{ docker_data_dir }}/traefik/logs:/var/log"
    restart: always

networks:
  default:
    name: traefik-net
