version: "2.1"

services:
  dokuwiki:
    image: linuxserver/dokuwiki:latest
    restart: always
    container_name: dokuwiki
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - "{{ docker_data_dir }}/dokuwiki:/config"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dokuwiki.rule=Host({{ dokuwiki_domain }})"
      - "traefik.http.routers.dokuwiki.entrypoints=websecure"
      - "traefik.http.routers.dokuwiki.tls=true"
      - "traefik.http.routers.dokuwiki.tls.certresolver=letsencrypt"
    networks:
      - traefik-net

networks:
    traefik-net:
        external: true
