#
# Example btrbk configuration file
#
#
# Please refer to the btrbk.conf(5) man-page for a complete
# description of all configuration options.
# For more examples, see README.md included with this package.
#
#   btrbk.conf(5): <https://digint.ch/btrbk/doc/btrbk.conf.5.html>
#   README.md:     <https://digint.ch/btrbk/doc/readme.html>
#
# Note that the options can be overridden per volume/subvolume/target
# in the corresponding sections.
#


# Enable transaction log
transaction_log            /var/log/btrbk.log


# Use sudo if btrbk or lsbtr is run by regular user
backend_local_user         btrfs-progs-sudo

# Enable stream buffer. Adding a buffer between the sending and
# receiving side is generally a good idea.
# NOTE: If enabled, make sure to install the "mbuffer" package!
stream_buffer              256m

# Always create snapshot, even if targets are unreachable.
# If set to “onchange”, snapshots are only created if the last snapshot is not up-to-date, i.e. the source subvolume has changed
# (more precisely: the btrfs generation has been increased) since the last snapshot was created.
snapshot_create            onchange

# Perform incremental backups (set to "strict" if you want to prevent
# creation of non-incremental backups if no parent is found).
incremental                yes

# Specify after what time (in full hours after midnight) backups/
# snapshots are considered as a daily backup/snapshot.
# Daily, weekly, monthly and yearly backups are preserved on this hour.
preserve_hour_of_day       0

# Specify on which day of week weekly/monthly backups are to be
# preserved.
preserve_day_of_week       monday


# Timestamp format
# short:     YYYYMMDD[_N]
# long:      YYYYMMDD<T>hhmm[_N]
# long-iso:  YYYYMMDD<T>hhmmss±hhmm[_N]
timestamp_format           long


#
# Volume section (optional): "volume <volume-directory>"
#
#   <volume-directory>  Base path within a btrfs filesystem
#                       containing the subvolumes to be backuped
#                       (usually the mount-point of a btrfs filesystem
#                       mounted with subvolid=5 option).
#
# Subvolume section: "subvolume <subvolume-name>"
#
#   <subvolume-name>    Subvolume to be backuped, relative to
#                       <volume-directory> in volume section.
#
# Target section: "target <type> <volume-directory>"
#
#   <type>              (optional) type, defaults to "send-receive".
#   <volume-directory>  Directory within a btrfs filesystem
#                       receiving the backups.
#
# NOTE: The parser does not care about indentation, this is only for
# human readability. All options apply to the last section
# encountered, overriding the corresponding option of the upper
# section. This means that the global options must be set on top,
# before any "volume", "subvolume" or "target section.
#


#
# Global retention policy, applies if no explicit Retention policy is set in volume section
#
# The format for <retention_policy> is:
#   [<hourly>h] [<daily>d] [<weekly>w] [<monthly>m] [<yearly>y]
#
# Use an asterisk for “all” (e.g. "target_preserve 60d *m" states: "preserve daily backups for 60 days back, and all monthly backups").
# Hint: Run btrbk with the -S, --print-schedule option to get a comprehensive output of the scheduler results.
#

# keep manual snapshots for 2 days (regardless how many)
snapshot_preserve_min   2d
# snapshot_preserve       14d

# only the backups following the target_preserve policy are created
target_preserve_min     no
# target_preserve         20d 10w *m


volume {{ mount_nas_drive }}

  #######################################################

  subvolume Daten

    # SNAPSHOTS
    snapshot_dir snapshots/Daten    # Create snapshots in {{ mount_nas_drive }}/snapshots/Daten
    snapshot_preserve       30d 8w 12m

    # BACKUPS
    target {{ mount_backup_drive }}/Daten
    target_preserve         52w *y


  ######################################################

  subvolume Filme

    # SNAPSHOTS
    snapshot_dir snapshots/Filme
    snapshot_preserve       8w 12m

    # BACKUPS
    target {{ mount_backup_drive }}/Filme
    target_preserve         12m *y


  ######################################################

  subvolume Musik

    # SNAPSHOTS
    snapshot_dir snapshots/Musik
    snapshot_preserve       8w 12m

    # BACKUPS
    target {{ mount_backup_drive }}/Musik
    target_preserve         12m *y


  ######################################################

  subvolume Backups

    # SNAPSHOTS
    snapshot_dir snapshots/Backups
    snapshot_preserve       4w

    # BACKUPS
    target {{ mount_backup_drive }}/Backups
    target_preserve         52w 24m *y


  ######################################################

  subvolume Archiv

    # SNAPSHOTS
    snapshot_dir snapshots/Archiv
    snapshot_preserve       8w

    # BACKUPS
    target {{ mount_backup_drive }}/Archiv
    target_preserve         52w 24m *y
